/**
 * Typography and @Font-face Stylesheet
 *
 * This stylesheet is comprised of font-face and typography being used throughout the site.
 * Please be aware to insert all or any type related declarations to the content of the
 * site in this stylesheet. 
 *
 * @tag This is a tag named 'tag'
 *
 * @todo This is a todo statement that describes an atomic task to be completed
 *   at a later date. It wraps after 80 characters and following lines are
 *   indented by 2 spaces.
 */
 
/* Requires: normalize.css */
/* Global Reset & Standards ---------------------- */

*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
 
/* ==========================================================================
   Typefaces
   ========================================================================== */

$helvetica: "Helvetica Neue", Helvetica, arial, freesans, "liberation sans", sans-serif;
$geneva: geneva, tahoma, "dejavu sans condensed", sans-serif;
$lucida: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", lucida, sans-serif;
$verdana: Verdana, "bitstream vera sans", "Dejavu Sans", "Liberation Sans", Geneva, sans-serif;
$cambria : Cambria, Georgia, "Bitstream charter", "Century schoolbook 1", "Liberation serif", times, serif;
$palatino: "Palatino Linotype", Palatino, palladio, "book antiqua";
$orienta: 'Orienta', sans-serif;
$bitter: 'Bitter', serif;
$opensans: 'Open Sans', sans-serif;
$monospace: 'Inconsolata', 'Consolas', Courier, monospace;
$chaparral: "chaparral-pro", Cambria, Georgia, "Bitstream charter", "Century schoolbook 1", "Liberation serif", times, serif;
$proxima: "proxima-nova", "Helvetica Neue", Helvetica, arial, freesans, "liberation sans", sans-serif;
$din: "din-condensed-web", "Helvetica Neue", Helvetica, arial, freesans, "liberation sans", sans-serif;
$kepler: "kepler-std", Cambria, Georgia, "Bitstream charter", "Century schoolbook 1", "Liberation serif", times, serif;
$schoolbook: "schoolbook-web", Cambria, Georgia, "Century schoolbook 1", times, serif;

/* ==========================================================================
   Typography - Sizes (h1, h2, h3, h4, h5)
   ========================================================================== */

h1, h2, h3, h4, h5, h6 { font-family: normal $proxima; font-weight: bold; font-style: normal; color: #222222; text-rendering: optimizeLegibility; line-height: 1.1; margin-bottom: .5em; margin-top: .5em; }

h1 { font-size: 44px; }

h2 { font-size: 37px; }

h3 { font-size: 27px; }

h4 { font-size: 23px; }

h5 { font-size: 16px; }

h6 { font-size: 14px; }

p {font-family: normal $proxima; font-size: em(18); font-weight: normal; line-height: 1.4em; text-shadow: 0px 1px 0px rgba(255,255,255,.5); margin: 0 0 1em 0; color: #464646;}

/* Base Type Styles Using Modular Scale ---------------------- */

.no-rgba p {color: #5f5f5f;}

p.lead { font-size: 17.5px; line-height: 1.6; margin-bottom: 17px; }

aside p { font-size: 13px; line-height: 1.35; font-style: italic; }


h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; color: #6f6f6f; line-height: 0; }


hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 22px 0 21px; height: 0; }

.subheader { line-height: 1.3; color: #6f6f6f; font-weight: 300; margin-bottom: 17px; }

em, i { font-style: italic; line-height: inherit; }

strong, b { font-weight: bold; line-height: inherit; }

small { font-size: 60%; line-height: inherit; }

code { font-weight: bold; background: transparent; color: #fdff36; font-family: monaco, monospace;}


/* Misc ---------------------- */
.left { float: left; }

.right { float: right; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.text-center { text-align: center; }

.hide { display: none; }

.hide-override { display: none !important; }

.highlight { background: #ffff99; }

#googlemap img, object, embed { max-width: none; }

#map_canvas embed { max-width: none; }

#map_canvas img { max-width: none; }

#map_canvas object { max-width: none; }

/* Reset for strange margins by default on <figure> elements */
figure { margin: 0; }

/* Nicolas Gallagher's micro clearfix */
.group { *zoom: 1; }
.group:before, .group:after { content: " "; display: table; }
.group:after { clear: both; }


img, embed, object, video {max-width: 100%;}

.line {margin: 1.5em 0; border-top: 1px solid #c6c6c6; display: block;}





