/* Color Variables (color, grid, etc)
---------------------------------------------------------------------- */

$headline-color: rgba(0,0,0,.85);

$link-color-light: rgba(191,119,40,.85);
$link-color-normal: rgba(191,119,40,1);

$visited-color: rgba(0,0,0,.65);

$red: rgba(204, 24, 24,1);
$body: rgba(0,0,0,.70);
$h3: rgba(255, 150, 31,1);
//$h3: rgba(110, 140, 107,1);