/**
 * Basic Styles
 *
 * This stylesheet is comprised of media query-agnostic styles such as link color,
 * color, background images, etc. used in this site.
 *
 * @tag This is a tag named 'tag'
 *
 * @todo This is a todo statement that describes an atomic task to be completed
 *   at a later date. It wraps after 80 characters and following lines are
 *   indented by 2 spaces.
 */
/**
 * Master Stylesheet
 *
 * The first sentence of the long description starts here and continues on this
 * line for a while finally concluding here at the end of this paragraph.
 *
 * The long description is ideal for more detailed explanations and
 * documentation. It can include example HTML, URLs, or any other information
 * that is deemed necessary or useful.
 *
 * @tag This is a tag named 'tag'
 *
 * @todo This is a todo statement that describes an atomic task to be completed
 *   at a later date. It wraps after 80 characters and following lines are
 *   indented by 2 spaces.
 */
/* ==========================================================================
  CSS Functions
  ========================================================================== */
/* Calculate font-size
---------------------------------------------------------------------- */
/* Mixins (transition)
---------------------------------------------------------------------- */
/* Retiny Mixin
---------------------------------------------------------------------- */
/**
 * Typography and @Font-face Stylesheet
 *
 * This stylesheet is comprised of font-face and typography being used throughout the site.
 * Please be aware to insert all or any type related declarations to the content of the
 * site in this stylesheet. 
 *
 * @tag This is a tag named 'tag'
 *
 * @todo This is a todo statement that describes an atomic task to be completed
 *   at a later date. It wraps after 80 characters and following lines are
 *   indented by 2 spaces.
 */
/* Requires: normalize.css */
/* Global Reset & Standards ---------------------- */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  direction: ltr; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ==========================================================================
   Typefaces
   ========================================================================== */
/* ==========================================================================
   Typography - Sizes (h1, h2, h3, h4, h5)
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
  font-family: normal "proxima-nova", "Helvetica Neue", Helvetica, arial, freesans, "liberation sans", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #222222;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
  margin-bottom: .5em;
  margin-top: .5em; }

h1 {
  font-size: 44px; }

h2 {
  font-size: 37px; }

h3 {
  font-size: 27px; }

h4 {
  font-size: 23px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

p {
  font-family: normal "kepler-std", Cambria, Georgia, "Bitstream charter", "Century schoolbook 1", "Liberation serif", times, serif;
  font-size: 1.125em;
  font-weight: normal;
  line-height: 1.4em;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  margin: 1em 0;
  color: #464646; }

/* Base Type Styles Using Modular Scale ---------------------- */
.no-rgba p {
  color: #5f5f5f; }

p.lead {
  font-size: 17.5px;
  line-height: 1.6;
  margin-bottom: 17px; }

aside p {
  font-size: 13px;
  line-height: 1.35;
  font-style: italic; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #6f6f6f;
  line-height: 0; }

hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 22px 0 21px;
  height: 0; }

.subheader {
  line-height: 1.3;
  color: #6f6f6f;
  font-weight: 300;
  margin-bottom: 17px; }

em, i {
  font-style: italic;
  line-height: inherit; }

strong, b {
  font-weight: bold;
  line-height: inherit; }

small {
  font-size: 60%;
  line-height: inherit; }

code {
  font-weight: bold;
  background: #ffff99; }

/* Misc ---------------------- */
.left {
  float: left; }

.right {
  float: right; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.hide {
  display: none; }

.hide-override {
  display: none !important; }

.highlight {
  background: #ffff99; }

#googlemap img, object, embed {
  max-width: none; }

#map_canvas embed {
  max-width: none; }

#map_canvas img {
  max-width: none; }

#map_canvas object {
  max-width: none; }

/* Reset for strange margins by default on <figure> elements */
figure {
  margin: 0; }

/* Nicolas Gallagher's micro clearfix */
.group {
  *zoom: 1; }

.group:before, .group:after {
  content: " ";
  display: table; }

.group:after {
  clear: both; }

img, embed, object, video {
  max-width: 100%; }

.line {
  margin: 1.5em 0;
  border-top: 1px solid #c6c6c6;
  display: block; }

/* Color Variables (color, grid, etc)
---------------------------------------------------------------------- */
/* ==========================================================================
   Basic styles
   ========================================================================== */
/* Links ---------------------- */
a img {
  border: none; }

a:link {
  font-weight: bold;
  color: #bf4d28;
  color: #bf4d28;
  text-decoration: underline; }

a:visited {
  font-weight: normal;
  color: rgba(191, 77, 40, 0.5); }

a:hover {
  color: rgba(191, 77, 40, 0.75);
  text-decoration: none; }

a:focus {
  color: #2795b6; }

p.read-more {
  margin: 1em 0 0 0;
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: #fff;
  padding: 0.5em 0.75em;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  moz-box-shadow: inset 0px 1px 1px 255, 255, 255, 0.5;
  -webkit-box-shadow: inset 0px 1px 1px 255, 255, 255, 0.5;
  box-shadow: inset 0px 1px 1px 255, 255, 255, 0.75;
  display: inline-block;
  background: #c9b59d;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5YjU5ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhYTk2N2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #c9b59d 0%, #aa967e 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c9b59d), color-stop(100%, #aa967e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #c9b59d 0%, #aa967e 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #c9b59d 0%, #aa967e 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #c9b59d 0%, #aa967e 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #c9b59d 0%, #aa967e 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9b59d', endColorstr='#aa967e',GradientType=0 );
  /* IE6-8 */
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  p.read-more a:link, p.read-more a:visited {
    color: #fff;
    text-decoration: none; }

p.read-more:hover {
  background: #aa967e;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FhOTY3ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOWI1OWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #aa967e 0%, #c9b59d 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aa967e), color-stop(100%, #c9b59d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #aa967e 0%, #c9b59d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #aa967e 0%, #c9b59d 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #aa967e 0%, #c9b59d 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #aa967e 0%, #c9b59d 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa967e', endColorstr='#c9b59d',GradientType=0 );
  /* IE6-8 */ }

/* Base Styles ---------------------- */
body {
  background: white;
  font-family: normal "proxima-nova", "Helvetica Neue", Helvetica, arial, freesans, "liberation sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  color: #222222;
  position: relative;
  -webkit-font-smoothing: antialiased;
  /* 	background: transparent url(../images/body-bg.jpg) repeat top left; */ }

body.work-page, body.work-project-page {
  background: transparent url(../images/body-bg.jpg) repeat top left; }

.row > div {
  padding: 0 1em; }

.portfolio > .twelve {
  padding: 0; }

header .row > div {
  padding: 0; }

.portfolio-wall {
  display: none; }

.page-title {
  font-size: 4.5em;
  color: #569162;
  margin: 0.25em 0 0 0;
  padding: 0;
  text-align: center;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.65); }

.page-title + p {
  margin: 0;
  padding: 0 0 1em 0;
  text-align: center;
  font-size: 1.125em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }

body.home .section-title {
  font-size: 0.875em;
  text-transform: uppercase;
  letter-spacing: .125em;
  color: #bf4d28;
  border-bottom: 1px solid #d9d9d9;
  padding: 0 0 0.5em 0;
  margin: 1em 0 1.25em 0; }

.section-title {
  font-size: 1.625em;
  color: #645590;
  color: #645590;
  padding: 0 0 0 0;
  margin: 1em 0 0 0; }

body.home .about-me img {
  float: left;
  margin: 0 1em 0 0; }

.entry-excerpt {
  padding: 0; }
  .entry-excerpt h2 {
    font-family: normal "schoolbook-web", Cambria, Georgia, "Century schoolbook 1", times, serif;
    font-weight: bold;
    font-size: 1.625em;
    margin-bottom: 0;
    /* text-shadow: 0px -1px 0px rgba(0,0,0,.75);			 */
    letter-spacing: -1px; }
    .entry-excerpt h2 a:link {
      color: #5c6a79;
      color: #5c6a79;
      text-decoration: none; }
    .entry-excerpt h2 a:visited {
      color: #5c6a79;
      color: rgba(92, 106, 121, 0.5); }
  .entry-excerpt .entry-date {
    font-family: normal "proxima-nova", "Helvetica Neue", Helvetica, arial, freesans, "liberation sans", sans-serif;
    color: #7c7c7c;
    font-size: 0.8125em; }

body.notebook .latest-journal article {
  width: 100%;
  float: none;
  min-height: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 1em 0; }
  body.notebook .latest-journal article .read-more {
    margin: 0.5em 0 1em 0; }

body.notebook .latest-journal h3 + article {
  padding-top: 0; }

.random-stats ul li {
  list-style: none;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
  margin: 0;
  padding: 1em 0; }
  .random-stats ul li .icon {
    margin: 0;
    padding: 0; }
  .random-stats ul li .icon:before {
    font-family: normal "MeteoconsRegular";
    content: attr(data-icon);
    font-size: .85em;
    margin: 0;
    padding: 0; }
  .random-stats ul li h6 {
    margin: 0;
    color: #989898;
    text-transform: uppercase;
    font-family: normal "proxima-nova", "Helvetica Neue", Helvetica, arial, freesans, "liberation sans", sans-serif;
    font-size: 0.75em;
    padding: 0 0 0; }
  .random-stats ul li h3 {
    margin: 0;
    font-size: 3.875em;
    color: #636363;
    font-family: normal "kepler-std", Cambria, Georgia, "Bitstream charter", "Century schoolbook 1", "Liberation serif", times, serif;
    letter-spacing: -4px; }
    .random-stats ul li h3 span {
      font-size: 0.875em; }

/* Blog Post */
.blog-post {
  margin: 0 auto;
  padding: 0 1em;
  background-color: #fff;
  /* border: 1px solid rgba(87,100,115,.5); */
  border-width: 0px 1px; }
  .blog-post header {
    padding: 1em 0 0 0; }
    .blog-post header h2 {
      margin: 0;
      padding: 0;
      color: #576473;
      /* text-shadow: 0px -1px 0px rgba(0,0,0,.85); */
      font-family: "schoolbook-web", Cambria, Georgia, "Century schoolbook 1", times, serif; }
  .blog-post p {
    font-size: 1.125em;
    font-family: "kepler-std", Cambria, Georgia, "Bitstream charter", "Century schoolbook 1", "Liberation serif", times, serif; }
  .blog-post .feature {
    /* border-bottom: 1px solid rgba(0,0,0,.15); */ }
    .blog-post .feature p {
      font-weight: bold; }

.blog-post article a:link {
  font-weight: bold;
  color: #bf4d28;
  color: #bf4d28;
  text-decoration: underline; }
.blog-post article a:visited {
  font-weight: normal;
  color: rgba(191, 77, 40, 0.5); }
.blog-post article a:hover {
  color: rgba(191, 77, 40, 0.75);
  text-decoration: none; }

.blog-post .button {
  list-style: none;
  display: inline-block;
  padding: 0.5em 0.25em;
  background-color: rgba(0, 0, 0, 0.125);
  font-size: 1.625em;
  position: fixed;
  top: 50%; }
  .blog-post .button a:link {
    display: block;
    color: #576473; }
  .blog-post .button a:visited {
    color: rgba(87, 100, 115, 0.5); }
.blog-post .next {
  right: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0em;
  border-top-left-radius: 5px;
  border-top-right-radius: 0; }
.blog-post .prev {
  left: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 5px; }

footer {
  background-color: #3d6b85;
  /* background-color: rgba(117,101,88,1); */
  border-top: 4px solid rgba(117, 101, 88, 0.75);
  width: 100%;
  padding: 1em 0 0;
  clear: both; }

.work-page footer {
  margin-top: 2em; }

body .footer p {
  color: #fff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25); }
body .footer .section-title {
  border: none;
  color: #fff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  margin: 0;
  padding: 0; }
body .footer .social-networks {
  padding: 1em 0;
  /* 		border-bottom: 1px solid rgba(255,255,255,.15);	 */ }
  body .footer .social-networks h3 {
    margin-bottom: .5em; }
  body .footer .social-networks ul li {
    float: left;
    width: 50%;
    padding: 0.5em 0 0.5em 0;
    list-style: none;
    font-size: 1.125em;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, arial, freesans, "liberation sans", sans-serif; }
    body .footer .social-networks ul li span {
      vertical-align: middle; }
    body .footer .social-networks ul li a:link, body .footer .social-networks ul li a:visited {
      color: #fff;
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
      text-decoration: none; }
body .footer .booklog-item {
  padding: 1em 0; }
  body .footer .booklog-item > img {
    float: left;
    margin: 0 1em 1em 0; }
  body .footer .booklog-item > h3 {
    margin: 0 0 1em 0; }
  body .footer .booklog-item > h4 {
    color: #fff;
    font-family: normal "kepler-std", Cambria, Georgia, "Bitstream charter", "Century schoolbook 1", "Liberation serif", times, serif;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25); }
body .footer a.back-top {
  display: block;
  text-align: center;
  padding: 1em 0;
  color: #fff;
  font-family: normal "chaparral-pro", Cambria, Georgia, "Bitstream charter", "Century schoolbook 1", "Liberation serif", times, serif;
  font-size: 1.25em;
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
body .footer .copyright {
  clear: both;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0.5em 0 0.5em 0.5em;
  font-size: 1em;
  margin: 0; }

.no-rgba .copyright {
  border-top: 1px solid #818181 !important; }

nav[role="navigation-desktop"] ul.social li a:link {
  text-decoration: none; }

/* About */
/* Work Page */
.page-intro {
  padding: 0 3em !important; }

.work-intro {
  padding: 1.5em 0 0 0; }

.work {
  padding: 0;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin: 0 15px;
  overflow: hidden;
  moz-box-shadow: 0px 0px 0.5em rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0px 0.5em rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 0.5em rgba(0, 0, 0, 0.15);
  background: #fff;
  /* Old browsers */ }
  .work .top-row {
    height: 165px;
    overflow: hidden;
    position: relative; }
    .work .top-row img {
      max-width: none; }
    .work .top-row .shadow {
      box-shadow: inset 0px -5px 0.65em rgba(0, 0, 0, 0.15);
      width: 100%;
      height: 20px;
      position: absolute;
      bottom: 0;
      z-index: 10; }
  .work .bottom-row {
    height: 130px;
    padding: 1em 0 0 1em; }
  .work p {
    font-size: 1em; }
  .work h3 {
    font-size: 2.25em;
    font-weight: 100;
    line-height: 1em;
    color: #626262;
    margin: 0;
    /* text-shadow: 0px 1px 0px rgba(0,0,0,.75); */ }
  .work h4 {
    color: #515151;
    margin: 0; }
  .work h4 {
    font-size: 0.875em;
    text-transform: uppercase; }
  .work h5.see-work {
    border: 1px solid rgba(0, 0, 0, 0.25);
    font-size: 0.875em;
    text-transform: uppercase;
    display: inline-block;
    padding: 0.65em 1em;
    color: #fff;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
    background-color: rgba(102, 125, 116, 0.75);
    moz-box-shadow: 3px 3px 4px black;
    -webkit-box-shadow: 3px 3px 4px black;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    background: #c9b59d;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5YjU5ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhYTk2N2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #c9b59d 0%, #aa967e 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c9b59d), color-stop(100%, #aa967e));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c9b59d 0%, #aa967e 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c9b59d 0%, #aa967e 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #c9b59d 0%, #aa967e 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #c9b59d 0%, #aa967e 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9b59d', endColorstr='#aa967e',GradientType=0 );
    /* IE6-8 */ }
    .work h5.see-work a:link, .work h5.see-work a:visited {
      color: #fff;
      text-decoration: none; }

.borderline {
  border-bottom: 1px solid #e5e5e5;
  height: 10px;
  margin: 1.5em 0;
  clear: both; }

.project-intro {
  padding: 1em 0 0 0 !important;
  /*	h2.melanie-painter {
  		color: #f15829;
  	}
  	h2.bestbuy-dotcom {
  		color: #003b64;
  	}
  */ }
  .project-intro .project-title {
    font-size: 2.625em;
    line-height: 1em;
    font-family: "schoolbook-web", Cambria, Georgia, "Century schoolbook 1", times, serif;
    color: #5d93c3;
    margin: 0.25em 0 0 0;
    padding: 0;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.65); }
  .project-intro .logo {
    margin: 1.5em auto;
    width: 100%; }
    .project-intro .logo img {
      width: auto;
      display: block;
      margin: 0 auto; }
  .project-intro .visit-btn {
    text-align: center;
    padding: 1em 0;
    margin: 0 auto;
    background-color: #7d8a9e;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
    .project-intro .visit-btn a:link {
      color: #fff; }
    .project-intro .visit-btn a:visited {
      color: #727272; }

.project .testimonial {
  margin: 1em 0; }
  .project .testimonial p {
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
    line-height: 1em;
    margin: 0 0 0.5em 0; }
  .project .testimonial .author {
    margin: 0!important;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, arial, freesans, "liberation sans", sans-serif;
    font-size: 1.125em;
    font-weight: 600;
    font-style: normal; }
    .project .testimonial .author em {
      font-style: italic; }
.project .screenshot {
  margin: 1.5em 0; }
  .project .screenshot img {
    width: auto;
    display: block;
    margin: 0 auto; }

/* Contact Page */
.contact ul li {
  margin: 1em 0; }
